.messagesModal {
    position: absolute;
    min-height: 400px;
    max-height: 90vh;
    top: 15%;
    right: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .tt{
    display: flex;
    flex-direction: row;
  }
  .btn-msg-1{
    display: flex;
    flex-direction: column-reverse;
  }
  .modal-contenttt {
    border: 1px solid var(--bg-color);
    background: var(--S2);
    width: 333px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .messages-main {
    margin-top: 2px;
    margin-bottom: 2px;
    overflow-y: auto;
    height: 450px;
    scrollbar-width: thin; /* Grubość paska przewijania dla Firefoxa */
    scrollbar-color: #575757 #6c6c6c;
    /* position: relative; */
    /* left: 26px; */
    /* top: 8px; */
    border-radius: 4px;
}

  .not-mains{
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    padding: 5px;
  }
  .not-mains div{
    font-size: 12px;
    display: flex;
    flex-direction: row; 
    width: 100%;   
  }


  .messages-main::-webkit-scrollbar {
    width: 6px;
}

.messages-main::-webkit-scrollbar-thumb {
    background-color: #bcbcbc; /* Kolor paska przewijania dla Chrome i Safari */
}

.messages-main::-webkit-scrollbar-track {
    background-color: #6c6c6c; /* Kolor tła paska przewijania dla Chrome i Safari */
}
.btn-close2{
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: var(--bg-color);
    transition: color 0.2s; 
}

.btn-close2:hover {
  color: var(--red);
}
.bbn{
  padding: 0px 10px 0px 10px;
}

.btn-open{
  transform: translateY(1px);
  background-color: #1a202c;
  color: azure;
}
.ffs{
  position: absolute;
  top: 50%;
  width: 400px;
  height: 200px;

}
.lupa{
  box-sizing: border-box;
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    width: 80%;
    height: 50px;
  padding: 10px;
  cursor: pointer;
  transition: 100ms;
}
.lupa:hover{
  border: 1px solid red;
  color: red;
}
.messagesInput{
  border: 0px;
}

.messagesInput:focus-visible{
  outline: 0px;
}
.chat-user-image{
  max-width:100px;
  padding: 5px;
  width: 100%;
}
.value > input{
  cursor: pointer;
}

.sent-by-me {
  background-color:  #1e3944;
}

.sent-by-me > div{
  display: flex;
}

.sent-by-others {
  background-color: #368cab;
}



  /* .messages-main .not-mains:nth-child(even) {
    background-color: #1e3944;
  }
  
  .messages-main .not-mains:nth-child(odd) {
    background-color: #368cab;
  }
  
 */
