.text {
  color: white;
  z-index: 100;
  margin: 0 auto;
  align-self: center;
  font-size: 32px;
}

.settings {
  display: flex;
  flex-direction: row;
}

.options {
  background-color: var(--primary);
  padding: 3px;
  /* margin-top: 2px; */
  /* margin-bottom: 2px; */
  margin: 0px 2px 3px 0px;
  /* border-radius: 0px 5px 5px 0px; */
  min-width: 11rem;
}

.min-222 {}

.min-222>a {
  text-decoration: none;
  color: var(--font-color);
}


.activee {
  /* background-color: var(--bg-color); */
  /* box-sizing: border-box; */
  box-shadow: 1px 1px 1px 1px var(--secondary);
  /* color: orange; */
  /* border-top: 1px solid var(--border); */
  /* border-right: 1px solid var(--border); */
  /* border-bottom: 1px solid var(--border); */
}

.outlet {
  border: 1px solid var(--primary);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 100%;
}

@media screen and (max-width: 1166px) {
  .settings {
    flex-direction: column;
  }

  .outlet {
    border: 1px solid var(--primary);
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    width: auto;
  }

  .min-222 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
  }

  .options {
    padding-left: 6px;
    padding-right: 6px;
    min-width: auto;

  }

  .min-222>a {}
}